.footer {
  align-items: center;
  background-color: #8f57fd;
  display: flex;
  height: 100px;
  width: 100%;
  font-family: 'Muli', sans-serif;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 413px) {
  .footer {
    flex-direction: column;
    justify-content: center;

    a {
      margin-bottom: 10px;
    }
  }
}
